.cart-navigation {
  height: 30px;
  width: auto;
  fill: #fff !important;
}

.center-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full {
  width: 100%;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}
